<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>920992738552-oeaimj4fudd2d794iui7cmp30rs1d0tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920992738552-oeaimj4fudd2d794iui7cmp30rs1d0tc</string>
	<key>API_KEY</key>
	<string>AIzaSyA7PSINN2ToC1we-sfrVayIb6QSn8QP81I</string>
	<key>GCM_SENDER_ID</key>
	<string>920992738552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sightcorner.yugioh</string>
	<key>PROJECT_ID</key>
	<string>com-sightcorner-yugioh</string>
	<key>STORAGE_BUCKET</key>
	<string>com-sightcorner-yugioh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:920992738552:ios:436dec261075c0fd</string>
	<key>DATABASE_URL</key>
	<string>https://com-sightcorner-yugioh.firebaseio.com</string>
</dict>
</plist>